#cajaPadre{
    width: 100%;
    height: 100vh;
    background-color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: space-between; /*Aqui lo que deja mas espacio entre lineas*/
    justify-content: space-around;
}

.cajaBlock{
    background-color: aquamarine;
    display: block;
    flex-basis: 500px;
    height: 300px;
    width: 300px;
    border: 1px solid black;
}

.align-self{
    align-self: inherit; /*Si solo quisiera modificar este de manera individual*/
}

.cajaInline{
    background-color: blueviolet;
    display: inline;
    height: 300px;
    width: 300px;
    border: 1px solid black;
}

.cajaInline_Block{
    background-color: rgb(196, 233, 33);
    display: inline-block;
    flex-grow: -1;
    height: 300px;
    width: 300px;
    border: 1px solid black;
}