body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display:grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #22d2e9, #051f68); /* Fondo degradado */
    
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
   
    

}

h1 {
    color: #4CAF50;
    margin-bottom: 20px;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

button:hover {
    background-color: #ff5722; /* Cambia a un color diferente al pasar el cursor */
    color: #fff; /* Cambia el color del texto si es necesario */
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    color: #555;
}